@import "variables.less";

// page specific
@import "text.less";
@import "console.less";

// commons
@import "table.less";

// components
@import "header.less";
@import "post.less";

body {
  background-color: @color-of-body-bg;
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
